# /public/hot
# /public/storage
/node_modules
.DS_Store
Thumbs.db
/bower_components
.env
.env.backup
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
sftp-config.json
.phpstorm.meta.php
_ide_helper_models.php

__MACOSX
/.phpintel
/.php_cs.cache

_ide_helper.php
composer.lock
package-lock.json
yarn.lock
/.sass-cache

.phpunit.result.cache

/storage/*.key
/storage/.license
/storage/fonts
/storage/installing
/storage/installed
/storage/app/backup
/storage/cache_keys.json
/storage/framework/laravel-excel/

/log

/.scribe
/.env.testing